  layout {
    pane split_direction="vertical" {
        pane
    }
    pane size=1 borderless=true {
          plugin location="file:/home/pride/.local/share/zellij/plugins/zjstatus.wasm" {
              format_left  "#[fg=#3c4847,bg=#37fd12][{session}] #[fg=#3c4847,bg=#37fd12,bold]{mode} #[fg=#3c4847,bg=#37fd12]{tabs}"
              format_right "#[fg=#3c4847,bg=#37fd12]{datetime}"
              format_space "#[bg=#37fd12]"

              hide_frame_for_single_pane "true"

              tab_normal   "{name}  "
              tab_active   "#[fg=#3c4847,bg=#37fd12,bold]({name}) "
              
              mode_normal        "|{name}|"
              mode_locked        "|{name}|"
              mode_resize        "|{name}|"
              mode_pane          "|{name}|"
              mode_tab           "|{name}|"
              mode_scroll        "|{name}|"
              mode_session       "|{name}|"
              mode_move          "|{name}|"

              datetime          " {format} "
              datetime_format   "%H:%M %d-%b-%y"
              datetime_timezone "Africa/Casablanca"

          }
    }
}
