layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/home/pride/.local/share/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} {tabs}"
            format_right "#[fg=#d6d6dd,bg=#181818]{datetime}"
            // format_space "#[bg=#181818]"

            hide_frame_for_single_pane "true"

            tab_normal   "#[fg=#d6d6dd]{index}:{name} "
            tab_active   "#[fg=#52a7f6]{index}:{name} "

            datetime          "#[fg=#d6d6dd, bg=#181818]{format} "
            datetime_format   "%H:%M %d-%b-%y"
            datetime_timezone "Europe/Berlin"

            mode_normal        "#[fg=#afcb85, bg=#181818] {name} "
        }
    }
}
