* {
    font-family: InterDisplay,SF Pro Display, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: #242424;
    color: #fafafa;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
  background-color: #242424;
  color: #fafafa;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

#workspaces button.active {
  background-color: #3584e4;
  color: #f4f4f4;
  border-radius: 10px;
}

#window {
  font-weight: 600;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


#tray {
    background-color: #242424;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #c01c28;
}

#clock {
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#pulseaudio {
    padding-right: 10px;
    margin-right: 10px;
}

#backlight {
    padding-right: 10px;
    margin-right: 10px;
}
